commit-guide.txt

# Dependencies
node_modules/
**/node_modules/
**/node_modules/.cache/



# Environment files
.env
services/**/.env
**/.env
!**/.env.example

# Logs
logs/
# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
docker/env/*.env



